body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	font-size: 16px;
	
}

header {
	/*background-color: grey;*/
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.main-text {
	font-size: 10rem;
}

.button {
	font-size: 3rem;
	color: black;
	text-decoration-line: none;
	text-decoration-style: none;
	border: 1px solid black;
	padding: 3%;
	background-color: black;
	color: white;

}

